<table class="table table-striped">
    <tbody>
    {% for tournament in tournaments %}
        <tr data-href="{{ path('tournament_show', {'slug': tournament.slug}) }}">
            <td class="table-primary">{{ tournament.startDate ? tournament.startDate|date('d-m') : '' }} au {{ tournament.endDate ? tournament.endDate|date('d-m') : '' }}</td>
            <td>{{ tournament.type }}</td>
            <td>{% if tournament.organizer is not null %} {{ tournament.organizer.acronym }}{% endif %}</td>
            <td>{{ tournament.title }}</td>
            {% if showInfo %}
                {% if is_granted('ROLE_ADMIN') %}
                <td>                
                    <a href="{{ path('tournament_edit', {'slug': tournament.slug}) }}">edit</a>
                </td>
                {% endif %} 
            {% endif %} 
        </tr>
    {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>