{% extends 'layout/layout.html.twig' %}

{% block title %}Club index{% endblock %}

{% block body_title %}
<section class="jumbotron">
    <header class="container-xl">
        <h1 class="title"><span class="fa-stack fa-1x">        
        <i class="fas fa-square fa-stack-2x"></i>
        <i class="fad fa-bullseye-arrow fa-stack-1x fa-inverse"></i>
        </span> Liste des clubs</h1>
    </header>
</section>
{% endblock %}

{% block body %}
<div class="container-xl">
    <table class="table">
        <thead>
            <tr>
                <th>Acronym</th>
                <th>Name</th>   
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for club in clubs %}
            <tr>                
                <td>{{ club.acronym }}</td>
                <td>{{ club.name }}</td>
                <td>
                    <a href="{{ path('club_show', {'acronym': club.acronym}) }}">show</a>
                    {% if (is_granted('ROLE_OWNER_CLUB')) %}
                    <a href="{{ path('club_edit', {'acronym': club.acronym}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('club_new') }}">Create new</a>
    {% endif %}
</div>
{% endblock %}
