{% extends 'layout/layout.html.twig' %}

{% block title %}Peloton{% endblock %}

{% block body %}
    <h1>Peloton</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Max Participant</th>
                <td>{{ peloton.maxParticipant }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ peloton.type }}</td>
            </tr>
            <tr>
                <th>Start Time</th>
                <td>{{ peloton.startTime ? peloton.startTime|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table">
       <thead>
            <tr>
                <th>Club</th>
                <th>Full Name</th>
                <th>Total</th>
                <th>10</th>
                <th>9</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>Action<th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for participant in peloton.participants %}
            <tr>
            {% set foo = participant.archer.affiliations|reverse|first %}
                <td>{{ foo.club.acronym }}</td>
                <td>{{ participant.archer.fullname }}</td>
                <td>{{ participant.points }}</td>
                <td>{{ participant.numberoften }}</td>
                <td>{{ participant.numberofnine }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <a href="{{ path('participant_edit', {'slug' : peloton.tournament.slug, 'id': participant.id}) }}"><i class="fad fa-money-check-edit"></i></a>
                    {# <a href="{{ path('participant_edit', {'slug' : peloton.tournament.slug, 'id': participant.id}) }}"><i class="fad fa-user-times"></i></a> #}
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <div class="btn btn-group">
        <a href="{{ path('tournament_show', {'id': peloton.tournament.id, 'slug': peloton.tournament.slug}) }}" class="btn btn-light"><i class="fad fa-chevron-left"></i> {% trans %}common.back_list{% endtrans %}</a>
        {% if (is_granted('ROLE_ARCHER') and date(peloton.starttime) > date("now")) 
                or is_granted('ROLE_ADMIN') %}
            {# Si je suis déjà inscrit, il faut prévoir une désinscription de l'archer,
                mais d'où pourrai provenir l'information comme quoi la personne est déjà inscrite ?
                
                Quid de l'admin
            #}
            {% if not isAlreadyRegistered %}
            <a href="{{ path('peloton_register', {'id_tournament': peloton.tournament.id, 'slug': peloton.tournament.slug, 'id' : peloton.id}) }}"  class="btn btn-success">S'inscrire</a>
            {% else %}
            <a href="{{ path('peloton_unregister', {'id_tournament': peloton.tournament.id, 'slug': peloton.tournament.slug, 'id' : peloton.id}) }}"  class="btn btn-warning">Se désinscrire</a>
            {% endif %}
        {% endif %}
    
    
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('peloton_edit', {'id_tournament': peloton.tournament.id, 'slug' : peloton.tournament.slug, 'id': peloton.id}) }}" class="btn btn-primary">edit</a>

            {{ include('peloton/_delete_form.html.twig') }}
        {% endif %}
    </div>
{% endblock %}